.doctors_container {
  margin: 80px 0 80px 0;
}

.doct_maintext {
  color: var(--base-balck, #000);
  /* Headings/H3/Regular */
  font-family: Outfit;
  font-size: 93px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 93px */
  text-align: center;
  margin-bottom: 64px;
}

.img_doccont {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.centered_imags {
  margin: 0 auto; /* Horizontally center the image */
  height: 1630px;
  transition: filter 0.3s;
}

/* Add this CSS to your existing stylesheet */
/* Add this CSS to your existing stylesheet */

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--neutral-300, #efeff1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  opacity: 0;
  padding: 50px;
  transition: opacity 0.2s ease-in;
  color: var(--base-balck, #000);

  /* Body/Text/Regular */
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.44px;
}

.card1:hover .image-overlay {
  opacity: 0.9;
  animation: slide-up1 2s ease-in-out;
}
@keyframes slide-up1 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card1 {
  height: 820px;
  overflow: hidden;
  width: auto;
  border-radius: 40px;
  border-radius: 40px;
  background: var(--neutral-300, #efeff1);
}
.centered_text {
  text-align: center;
}

.doct_name {
  margin: 35px 0 24px 0;
  color: var(--base-balck, #000);
  /* Headings/H5/Medium */
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 36px */
}
p {
  color: var(--base-balck, #000);
  /* Body/TextL/Regular */
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
}
#doc_specialization{
  color: var(--text-icon-light-heading, #252525);
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 36px */
}

.doc_spec_bullets{
  margin-bottom: 15px;
}
/* Default styles for all screen sizes */

/* Styles for screens with a maximum width of 767px (e.g., mobile phones) */
@media (max-width: 767px) {
  /* Your CSS rules for mobile devices go here */
  .doctors_container {
    margin: 50px 0 25px 0;
  }
  .doct_name {
    margin: 35px 0 24px 0;
    color: var(--text-icon-light-heading, #252525);
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 36px */
  }
  #doc_specialization{
    color: var(--text-icon-light-heading, #252525);
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 36px */
  }
  p {
    color: var(--base-balck, #000);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
  }
  .doct_maintext {
    color: var(--base-balck, #000);
    /* Headings/H3/Regular */
    font-family: Outfit;
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 93px */
    text-align: center;
    margin-bottom: 24px;
  }
  .centered_imags {
    margin: 0 auto; /* Horizontally center the image */
    transition: filter 0.3s;
    height: 630px;
  }
  .img_doccont {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 550px;
  }
  .card1 {
    height: 400px;
    overflow: hidden;
    width: auto;
    border-radius: 16px;
    background: var(--neutral-300, #efeff1);
    padding: 10px 113px 0px 128px;
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--neutral-300, #efeff1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
    color: #000;
    overflow: scroll;
    /* Body/Text/Regular */
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33px */
    letter-spacing: 0.44px;
  }

  .card1:hover {
    height: 400px;
    overflow: hidden;
    width: auto;
    border-radius: 16px;
    background: var(--neutral-300, #efeff1);
  }
  .card1:hover .image-overlay {
    opacity: 0.9;
    animation: slide-up1 2s ease-in-out;
  }
  @keyframes slide-up1 {
    0% {
      transform: translateY(100%);
      opacity: 1;
    }
    60% {
      transform: translateY(0);
      opacity: 1;
    }
    75% {
      transform: translateY(-20px);
    }
    90% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  .doc_spec_bullets{
    margin-bottom: 0px;
  }
}

/* Styles for screens with a minimum width of 768px and a maximum width of 991px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Your CSS rules for tablets go here */

  .doct_maintext {
    color: var(--base-balck, #000);
    /* Headings/H3/Regular */
    font-family: Outfit;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 93px */
    text-align: center;
    margin-bottom: 24px;
  }
  .card1 {
    height: 500px;
    overflow: hidden;
    width: auto;
    border-radius: 40px;
    background: var(--neutral-300, #efeff1);
    padding: 10px 113px 0px 128px;
  }
  .card1:hover {
    height: 500px;
    overflow: hidden;
    width: auto;
    border-radius: 40px;
    background: var(--neutral-300, #efeff1);
  }
  .centered_imags {
    margin: 0 auto; /* Horizontally center the image */
    transition: filter 0.3s;
    height: 1220px;
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 50px;
    color: #000;
    overflow: scroll;
    /* Body/Text/Regular */
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.44px;
  }
  #doc_specialization{
    color: var(--text-icon-light-heading, #252525);
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 36px */
  }
  .doc_spec_bullets{
    margin-bottom: 0px;
  }
}

/* Styles for screens with a minimum width of 992px and a maximum width of 1199px (e.g., small desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Your CSS rules for small desktops go here */
  .card1 {
    height: 600px;
    overflow: hidden;
    width: auto;
    border-radius: 40px;
    background: var(--neutral-300, #efeff1);
    padding: 10px 113px 0px 128px;
  }
  .card1 .centered_imags:hover {
    filter: none;
    transition: transform 0.5s ease;
    transform: scale(1.1); /* Scale the image to 110% on hover */
  }
  .card1:hover {
    height: 600px;
    overflow: hidden;
    width: auto;
    border-radius: 40px;
    background: var(--neutral-300, #efeff1);
  }
  .centered_imags {
    margin: 0 auto; /* Horizontally center the image */ 
    transition: filter 0.3s;
    height: 1220px;
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--neutral-300, #efeff1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 25px;
    color: #000;
    overflow: scroll;
    /* Body/Text/Regular */
    font-family: Outfit;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.44px;
  }

  .card1:hover {
    height: 600px;
    overflow: hidden;
    width: auto;
    border-radius: 40px;
    background: var(--neutral-300, #efeff1);
  }
  .card1:hover .image-overlay {
    opacity: 0.9;
    animation: slide-up1 2s ease-in-out;
  }
  @keyframes slide-up1 {
    0% {
      transform: translateY(100%);
      opacity: 1;
    }
    60% {
      transform: translateY(0);
      opacity: 1;
    }
    75% {
      transform: translateY(-20px);
    }
    90% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  #doc_specialization{
    color: var(--text-icon-light-heading, #252525);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 36px */
  }
  .doctors_container {
    margin: 80px 0 80px 0;
  }
  .doc_spec_bullets{
    margin-bottom: 0px;
    font-size: 16px;
    font-style: normal;
    font-family: Outfit;
  }
}

/* Styles for screens with a minimum width of 1200px and above (e.g., large desktops) */
@media (min-width: 1200px) and (max-width: 1520px) {
  /* Your CSS rules for large desktops go here */
  .card1 {
    height: 600px;
    overflow: hidden;
    width: auto;
    border-radius: 40px;
    background: var(--neutral-300, #efeff1);
    padding: 10px 113px 0px 128px;
  }
  .card1:hover {
    height: 600px;
    overflow: hidden;
    width: auto;
    border-radius: 40px;
    background: var(--neutral-300, #efeff1);
  }
  .centered_imags {
    margin: 0 auto; /* Horizontally center the image */
    transition: filter 0.3s;
    height: 1220px;
  }
  .doctors_container {
    margin: 80px 0 80px 0;
  }
  #doc_specialization{
    color: var(--text-icon-light-heading, #252525);
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 36px */
  }
  .doct_maintext {
    color: var(--base-balck, #000);
    /* Headings/H3/Regular */
    font-family: Outfit;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 93px */
    text-align: center;
    margin-bottom: 64px;
  }
  
}
