.card_container {
  display: flex;
  flex-direction: row;
  gap: 0px;
  margin-top: 30vh;
}
.card_contact {
  max-width: 520px;
  height: 550px;
  flex-shrink: 0;
  gap: 72px;
  border-radius: 40px;
  justify-content: center;
  border: 1px solid var(--neutral-800, #e5e5e7);
  background: var(--backgrounds-color-1, #fff8f1);
  margin: 10px;
  /* LG */
  box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1),
    0px 4px 6px -4px rgba(16, 24, 40, 0.1);
}

.icon_contact {
  margin-left: 45px;
}

.contact_h2 {
  color: var(--greyscale-text-icon-title, #141415);
  /* Headings/H5/SemiBold */
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 100%; /* 36px */
}

.contact_group {
  display: grid;
  margin-left: 45px;
}
.contact_content {
  max-width: 480px;
  color: var(--greyscale-text-icon-body, #4f5154);
  /* Body/TextL/Regular */
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
}

.contact_link {
  color: var(--accent-default, #f7951d);
  /* Body/TextL/Regular */
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  margin-top:16px;
  cursor: pointer;
}
.contact_links {
  color: var(--greyscale-text-icon-body, #4F5154);
  /* Body/TextL/Regular */
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  max-width: 375px;
  overflow: auto;
}
.contact_label{
  color: var(--greyscale-text-icon-body, #4F5154);
/* Body/TextL/SemiBold */
font-family: Outfit;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 36px */
letter-spacing: 0.48px;
max-width: 375px;
}
.centeraed_imgs {
  /* Horizontally center the image */
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.img_back {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 90px;
  width: 90px;
  flex-shrink: 0;
  background-color: #4c5560;
  border-radius: 50px;
}

.card_contact:hover {
  box-shadow: 0px 25px 50px -12px rgba(16, 24, 40, 0.25);
}

.card_contact:hover .img_back .centeraed_imgs {
  transform: scale(1.55) translateY(-1%);
  transition: transform 0.9s ease-in-out;
}

@media (min-width: 390px) and (max-width: 766px) {
  .contact_content {
    width: 100%;
    color: var(--greyscale-text-icon-body, #4f5154);
    /* Body/TextL/Regular */
    font-family: Outfit;
    text-align: left;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
  }
  .contact_h2 {
    color: var(--greyscale-text-icon-title, #141415);
    /* Headings/H5/SemiBold */
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 36px */
  }
  .card_contact {
    max-width: 520px;
    height: 350px;
    flex-shrink: 0;
    gap: 36px;
    border-radius: 16px;
    justify-content: center;
    border: 1px solid var(--neutral-800, #e5e5e7);
    background: var(--backgrounds-color-1, #fff8f1);
    margin: 10px 0px;
    /* LG */
    box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1),
      0px 4px 6px -4px rgba(16, 24, 40, 0.1);
  }
  .contact_group {
    display: grid;
    margin-left: 45px;
  }
  .icon_contact {
    margin: 25px 0 0 45px;
  }
  .contact_links {
    color: var(--greyscale-text-icon-body, #4F5154);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 375px;
    overflow: auto;
  }
  .contact_link {
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 375px;
  }
  .contact_label{
    color: var(--greyscale-text-icon-body, #4F5154);
  /* Body/TextL/SemiBold */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  max-width: 375px;
  }
  .card_container {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 10vh;
  }
  .img_back {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 65px;
    width: 65px;
    flex-shrink: 0;
    background-color: #4c5560;
    border-radius: 50px;
  }
  
.card_contact:hover .img_back .centeraed_imgs {
  transform: scale(1.3) translateY(-1%);
  transition: transform 0.9s ease-in-out;
}
.icon_contact {
  margin-left: 18px;
  display: flex;
  flex-direction: row;
}



}

/* Styles for screens with a maximum width of 767px (e.g., mobile phones) */
@media (max-width: 389px) {
  /* Your CSS rules for mobile devices go here */
  .contact_content {
    width: 100%;
    color: var(--greyscale-text-icon-body, #4f5154);
    /* Body/TextL/Regular */
    font-family: Outfit;
    text-align: left;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
  }
  .contact_h2 {
    color: var(--greyscale-text-icon-title, #141415);
    /* Headings/H5/SemiBold */
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 36px */
  }
  .card_contact {
    max-width: 520px;
    height: 350px;
    flex-shrink: 0;
    gap:36px;
    border-radius: 16px;
    justify-content: center;
    border: 1px solid var(--neutral-800, #e5e5e7);
    background: var(--backgrounds-color-1, #fff8f1);
    margin: 10px 0px;
    /* LG */
    box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1),
      0px 4px 6px -4px rgba(16, 24, 40, 0.1);
  }
  .contact_group {
    display: grid;
    margin-left: 45px;
  }
  .icon_contact {
    margin: 5px 0 0 5px;
  }
  .contact_links {
    color: var(--greyscale-text-icon-body, #4F5154);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 375px;
    overflow: auto;
  }
  .contact_link {
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 375px;
  }
  .contact_label{
    color: var(--greyscale-text-icon-body, #4F5154);
  /* Body/TextL/SemiBold */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  max-width: 375px;
  }
  .card_container {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 3vh;
  }
  .img_back {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 65px;
    width: 65px;
    flex-shrink: 0;
    background-color: #4c5560;
    border-radius: 50px;
  }
  
.card_contact:hover .img_back .centeraed_imgs {
  transform: scale(1.3) translateY(-1%);
  transition: transform 0.9s ease-in-out;
}
.icon_contact {
  margin-left: 18px;
  display: flex;
  flex-direction: row;
}


}


/* Styles for screens with a minimum width of 768px and a maximum width of 991px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Your CSS rules for tablets go here */
  .contact_content {
    width: 100%;
    color: var(--greyscale-text-icon-body, #4f5154);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
  }
  .contact_h2 {
    color: var(--greyscale-text-icon-title, #141415);
    /* Headings/H5/SemiBold */
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 36px */
  }
  .card_contact {
    max-width: 520px;
    max-height: 400px;
    flex-shrink: 0;
    gap: 36px;
    border-radius: 40px;
    justify-content: center;
    border: 1px solid var(--neutral-800, #e5e5e7);
    background: var(--backgrounds-color-1, #fff8f1);
    margin: 10px;
    /* LG */
    box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1),
      0px 4px 6px -4px rgba(16, 24, 40, 0.1);
  }
  .contact_group {
    display: grid;
    margin-left: 45px;
  }
  .icon_contact {
    margin: 25px 0 0 45px;
  }
  .contact_links {
    color: var(--greyscale-text-icon-body, #4F5154);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 375px;
    overflow: auto;
  }
  .contact_link {
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 375px;
    cursor: pointer;
  }
  .contact_label{
    color: var(--greyscale-text-icon-body, #4F5154);
  /* Body/TextL/SemiBold */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  max-width: 375px;
  }
  .card_container {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 196px;
  }
}

/* Styles for screens with a minimum width of 992px and a maximum width of 1199px (e.g., small desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Your CSS rules for small desktops go here */
  .contact_content {
    width: 100%;
    color: var(--greyscale-text-icon-body, #4f5154);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
  }
  .contact_h2 {
    color: var(--greyscale-text-icon-title, #141415);
    /* Headings/H5/SemiBold */
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 36px */
  }
  .card_contact {
    max-width: 520px;
    max-height: 400px;
    flex-shrink: 0;
    gap: 36px;
    border-radius: 40px;
    justify-content: center;
    border: 1px solid var(--neutral-800, #e5e5e7);
    background: var(--backgrounds-color-1, #fff8f1);
    margin: 10px;
    /* LG */
    box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1),
      0px 4px 6px -4px rgba(16, 24, 40, 0.1);
  }
  .contact_group {
    display: grid;
    margin-left: 45px;
  }
  .icon_contact {
    margin: 25px 0 0 45px;
  }
  .contact_links {
    color: var(--greyscale-text-icon-body, #4F5154);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 375px;
    overflow: auto;
  }
  .contact_link {
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 375px;
  }
  .contact_label{
    color: var(--greyscale-text-icon-body, #4F5154);
  /* Body/TextL/SemiBold */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  max-width: 375px;
  }
  .card_container {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 196px;
  }
}

/* Styles for screens with a minimum width of 1200px and above (e.g., large desktops) */
@media (min-width: 1200px)and (max-width: 1520px) {
  /* Your CSS rules for large desktops go here */
  .contact_content {
    
    color: var(--greyscale-text-icon-body, #4f5154);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
  }
  .contact_h2 {
    color: var(--greyscale-text-icon-title, #141415);
    /* Headings/H5/SemiBold */
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 36px */
  }
  .card_contact {
    max-width: 520px;
    max-height: 400px;
    flex-shrink: 0;
    gap: 36px;
    border-radius: 40px;
    justify-content: center;
    border: 1px solid var(--neutral-800, #e5e5e7);
    background: var(--backgrounds-color-1, #fff8f1);
    margin: 10px;
    /* LG */
    box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1),
      0px 4px 6px -4px rgba(16, 24, 40, 0.1);
  }
  .contact_group {
    display: grid;
    margin-left: 45px;
  }
  .icon_contact {
    margin: 25px 0 0 45px;
  }
  .contact_links {
    color: var(--greyscale-text-icon-body, #4F5154);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 375px;
    overflow: auto;
  }
  .contact_link {
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 375px;
    cursor: pointer;
  }
  .contact_label{
    color: var(--greyscale-text-icon-body, #4F5154);
  /* Body/TextL/SemiBold */
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  max-width: 375px;
  }
  .card_container {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 30vh;
  }
}
