.main_container {
  margin: 0 3%;
  max-width: 100%;
}
.main_heading {
  color: var(--text-icon-light-heading, #252525);
  /* Headings/H2/Regular */
  font-family: Outfit;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  width: 100vh;
  line-height: 100%; /* 120px */
}
.heros {
  position: absolute;
  width: 660.57px;
  height: 98%;
  top: 5vh;
  object-fit: cover;
  right: 1px;
  flex-shrink: 0;
  background-clip: inherit;
  z-index: -1;
}

.main_text {
  color: var(--text-icon-light-body, #3f454d);
  /* Body/TextL/Regular */
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  max-width: 500px;
  margin-top: 20px;
}
.main_Btn {
  border-radius: 8px;
  background: var(--grey-1000, #252525);
  display: flex;
  padding: 20px 30px 22px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: 0.4px;
  font-size: 20px;
}

.main_Btn:hover {
  background-color: #f7951d;
  transition: transform 0.5s ease;
  color: rgb(8, 8, 8);
}
.main_img {
  width: 868px;
  height: 1080px;
  flex-shrink: 0;
}
.hero_cont_m {
  padding: 120px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
/* Default styles for all screen sizes */

@media (min-width: 420px) and (max-width: 768px) {
  /* Your CSS rules for mobile devices go here */
  .main_heading {
    color: var(--text-icon-light-heading, #252525);
    /* Headings/H2/Regular */
    font-family: Outfit;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 120px */
    max-width: 320px;
    height: auto;
  }
  .main_text {
    color: var(--text-icon-light-body, #3f454d);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 218px;
  }
  .heros {
    position: absolute;
    width: 20vh;
    height: 30vh;
    margin: auto 0;
    top: 15vh;
    right: 0px;
    flex-shrink: 0;
  }
  .hero_cont_m {
    padding: 0px 0 0 0;
    margin-top: 20px;
  }
  .main_Btn {
    border-radius: 8px;
    font-family: Outfit;
    color: #fcfcfc;
    display: flex;
    padding: 14px 22px 16px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%; /* 30px */
    letter-spacing: 0.32px;
    font-size: 16px;
  }
}
/* Styles for screens with a maximum width of 767px (e.g., mobile phones) */
@media (max-width: 419px) {
  /* Your CSS rules for mobile devices go here */
  .main_heading {
    color: var(--text-icon-light-heading, #252525);
    /* Headings/H2/Regular */
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 130%; /* 120px */
    width: 60%;
    height: auto;
    margin-top: 20px;
  }
  .main_text {
    color: var(--text-icon-light-body, #3f454d);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    width: 65%;
    margin-top: 20px;
  }
  .heros {
    position: absolute;
    width: 35%;
    height: 40%;
    margin: auto 0;
    top: 12vh;
    right: 0px;
    flex-shrink: 0;
    right: 1px;
    flex-shrink: 0;
    background-clip: inherit;
    z-index: 1;
  }
  .hero_cont_m {
    padding: 0px 0 0 0;
    margin-top: 0px;
  }
  .main_Btn {
    border-radius: 8px;
    font-family: Outfit;
    color: #fcfcfc;
    display: flex;
    padding: 14px 22px 16px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%; /* 30px */
    letter-spacing: 0.32px;
    font-size: 16px;
  }
}

/* Styles for screens with a minimum width of 768px and a maximum width of 991px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Your CSS rules for tablets go here */
  .main_text {
    color: var(--text-icon-light-body, #3f454d);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 500px;
    margin-top: 20px;
  }
  .main_heading {
    color: var(--text-icon-light-heading, #252525);
    /* Headings/H2/Regular */
    font-family: Outfit;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 120px */
    width: auto;
  }
  .heros {
    position: absolute;
    width: 45%;
    height: 50vh;
    margin: auto 0;
    top: 15vh;
    right: 1px;
    flex-shrink: 0;
    background-clip: inherit;
    z-index: -1;
  }
  .hero_cont_m {
    padding: 0px 0 0 0;
    margin-top: 20px;
  }
}

/* Styles for screens with a minimum width of 992px and a maximum width of 1199px (e.g., small desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Your CSS rules for small desktops go here */
  .main_heading {
    color: var(--text-icon-light-heading, #252525);
    /* Headings/H2/Regular */
    font-family: Outfit;
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 120px */
    max-width: 640px;
    height: auto;
  }
  .main_text {
    color: var(--text-icon-light-body, #3f454d);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 500px;
  }
  .heros {
    position: absolute;
    width: 45vh;
    height: 60vh;
    top: 15vh;
    right: 0px;
    object-fit: stretch;
    margin: auto 0;
    flex-shrink: 0;
  }
  .hero_cont_m {
    padding: 0px 0 0 0;
    margin-top: 40px;
  }
}

/* Styles for screens with a minimum width of 1200px and above (e.g., large desktops) */
@media (min-width: 1200px) and (max-width: 1680px) {
  /* Your CSS rules for large desktops go here */
  .main_heading {
    color: var(--text-icon-light-heading, #252525);
    /* Headings/H2/Regular */
    font-family: Outfit;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 120px */
    max-width: 768px;
    padding-top: 20px;
  }
  .main_text {
    color: var(--text-icon-light-body, #3f454d);
    /* Body/TextL/Regular */
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
    max-width: 500px;
    margin-top: 50px;
  }
  .heros {
    position: absolute;
    width: 40%;
    height: 70vh;
    margin: auto 0;
    object-fit: cover;
    top: 15vh;
    right: 1px;
    flex-shrink: 0;
    background-clip: inherit;
    z-index: -1;
  }
  .hero_cont_m {
    padding: 0px 0 0 0;
    margin-top: 20px;
  }
}